version: "3.8"

services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: mysql_db
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: proyecto
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/creacionDeTablas.sql:/docker-entrypoint-initdb.d/001_creacionDeTablas.sql
      - ./db/SEED_FINAL_DATOS.sql:/docker-entrypoint-initdb.d/002_SEED_FINAL_DATOS.sql
      - ./db/create_mysql_users.sql:/docker-entrypoint-initdb.d/003_create_mysql_users.sql
      - ./db/arreglo_turnos.sql:/docker-entrypoint-initdb.d/004_arreglo_turnos.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: flask_app
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: python app.py

volumes:
  mysql_data:
