-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: proyecto
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `ci` int NOT NULL,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `apellido` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`ci`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (99999999,'Ana','Silva','ana.silva@ucu.edu.uy');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edificio`
--

DROP TABLE IF EXISTS `edificio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edificio` (
  `nombre_edificio` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `direccion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `departamento` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`nombre_edificio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edificio`
--

LOCK TABLES `edificio` WRITE;
/*!40000 ALTER TABLE `edificio` DISABLE KEYS */;
INSERT INTO `edificio` VALUES ('Campus Este','Ruta Interbalnearia Km 30','Canelones'),('Central','Av. 8 de Octubre 2738','Montevideo');
/*!40000 ALTER TABLE `edificio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facultad`
--

DROP TABLE IF EXISTS `facultad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facultad` (
  `id_facultad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_facultad`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facultad`
--

LOCK TABLES `facultad` WRITE;
/*!40000 ALTER TABLE `facultad` DISABLE KEYS */;
INSERT INTO `facultad` VALUES (1,'Ingenier├¡a'),(2,'Ciencias Humanas'),(3,'Derecho'),(4,'FacuTest');
/*!40000 ALTER TABLE `facultad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login`
--

DROP TABLE IF EXISTS `login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login` (
  `correo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contrase├▒a` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`correo`),
  UNIQUE KEY `contrase├â┬▒a` (`contrase├▒a`),
  UNIQUE KEY `__tmp_contrasena` (`contrase├▒a`),
  UNIQUE KEY `contrase├â┬▒a_2` (`contrase├▒a`),
  UNIQUE KEY `contrase├▒a` (`contrase├▒a`),
  CONSTRAINT `login_ibfk_1` FOREIGN KEY (`correo`) REFERENCES `participante` (`email`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login`
--

LOCK TABLES `login` WRITE;
/*!40000 ALTER TABLE `login` DISABLE KEYS */;
/*!40000 ALTER TABLE `login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_backup_20251030135127`
--

DROP TABLE IF EXISTS `login_backup_20251030135127`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login_backup_20251030135127` (
  `correo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contrase├▒a` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_backup_20251030135127`
--

LOCK TABLES `login_backup_20251030135127` WRITE;
/*!40000 ALTER TABLE `login_backup_20251030135127` DISABLE KEYS */;
INSERT INTO `login_backup_20251030135127` VALUES ('fabrizio@ucu.edu.uy','fabrizio123'),('lucia@ucu.edu.uy','lucia123'),('mateo@ucu.edu.uy','mateo123');
/*!40000 ALTER TABLE `login_backup_20251030135127` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participante`
--

DROP TABLE IF EXISTS `participante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `participante` (
  `ci` int NOT NULL,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `apellido` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`ci`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participante`
--

LOCK TABLES `participante` WRITE;
/*!40000 ALTER TABLE `participante` DISABLE KEYS */;
/*!40000 ALTER TABLE `participante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participante_programa_academico`
--

DROP TABLE IF EXISTS `participante_programa_academico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `participante_programa_academico` (
  `id_alumno_programa` int NOT NULL AUTO_INCREMENT,
  `ci_participante` int NOT NULL,
  `nombre_programa` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol` enum('alumno','docente') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_alumno_programa`),
  UNIQUE KEY `ci_participante` (`ci_participante`),
  KEY `nombre_programa` (`nombre_programa`),
  CONSTRAINT `participante_programa_academico_ibfk_1` FOREIGN KEY (`ci_participante`) REFERENCES `participante` (`ci`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `participante_programa_academico_ibfk_2` FOREIGN KEY (`nombre_programa`) REFERENCES `programa_academico` (`nombre_programa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participante_programa_academico`
--

LOCK TABLES `participante_programa_academico` WRITE;
/*!40000 ALTER TABLE `participante_programa_academico` DISABLE KEYS */;
INSERT INTO `participante_programa_academico` VALUES (1,11111111,'Inform├ítica','alumno'),(2,22222222,'Psicolog├¡a','alumno'),(3,33333333,'Inform├ítica','docente'),(5,66666666,'Derecho Penal','alumno'),(6,77777778,'TestGrado','docente'),(7,77777779,'Derecho Penal','alumno');
/*!40000 ALTER TABLE `participante_programa_academico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programa_academico`
--

DROP TABLE IF EXISTS `programa_academico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programa_academico` (
  `nombre_programa` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_facultad` int DEFAULT NULL,
  `tipo` enum('grado','postgrado') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`nombre_programa`),
  KEY `id_facultad` (`id_facultad`),
  CONSTRAINT `programa_academico_ibfk_1` FOREIGN KEY (`id_facultad`) REFERENCES `facultad` (`id_facultad`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programa_academico`
--

LOCK TABLES `programa_academico` WRITE;
/*!40000 ALTER TABLE `programa_academico` DISABLE KEYS */;
INSERT INTO `programa_academico` VALUES ('Derecho Penal',3,'postgrado'),('Inform├ítica',1,'grado'),('Psicolog├¡a',2,'grado'),('TestGrado',4,'grado');
/*!40000 ALTER TABLE `programa_academico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reserva`
--

DROP TABLE IF EXISTS `reserva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva` (
  `id_reserva` int NOT NULL AUTO_INCREMENT,
  `nombre_sala` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `edificio` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` date NOT NULL,
  `id_turno` int DEFAULT NULL,
  `estado` enum('activa','cancelada','sin asistencia','finalizada') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_reserva`),
  KEY `nombre_sala` (`nombre_sala`,`edificio`),
  KEY `id_turno` (`id_turno`),
  CONSTRAINT `reserva_ibfk_1` FOREIGN KEY (`nombre_sala`, `edificio`) REFERENCES `sala` (`nombre_sala`, `edificio`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `reserva_ibfk_2` FOREIGN KEY (`id_turno`) REFERENCES `turno` (`id_turno`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva`
--

LOCK TABLES `reserva` WRITE;
/*!40000 ALTER TABLE `reserva` DISABLE KEYS */;
/*!40000 ALTER TABLE `reserva` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reserva_participante`
--

DROP TABLE IF EXISTS `reserva_participante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva_participante` (
  `ci_participante` int NOT NULL,
  `id_reserva` int NOT NULL,
  `fecha_solicitud_reserva` date NOT NULL,
  `asistencia` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`ci_participante`,`id_reserva`),
  KEY `id_reserva` (`id_reserva`),
  CONSTRAINT `reserva_participante_ibfk_1` FOREIGN KEY (`ci_participante`) REFERENCES `participante_programa_academico` (`ci_participante`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `reserva_participante_ibfk_2` FOREIGN KEY (`id_reserva`) REFERENCES `reserva` (`id_reserva`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva_participante`
--

LOCK TABLES `reserva_participante` WRITE;
/*!40000 ALTER TABLE `reserva_participante` DISABLE KEYS */;
INSERT INTO `reserva_participante` VALUES (11111111,1,'2025-10-20',1),(11111111,4,'2025-10-29',NULL),(11111111,5,'2025-10-29',NULL),(22222222,2,'2025-10-21',0),(22222222,5,'2025-10-29',NULL),(33333333,3,'2025-10-22',1),(66666666,11,'2025-11-06',NULL),(66666666,12,'2025-11-06',NULL),(77777778,13,'2025-11-06',NULL),(77777778,14,'2025-11-06',NULL),(77777778,15,'2025-11-12',NULL);
/*!40000 ALTER TABLE `reserva_participante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sala`
--

DROP TABLE IF EXISTS `sala`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sala` (
  `nombre_sala` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `edificio` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `capacidad` int DEFAULT NULL,
  `tipo_sala` enum('libre','posgrado','docente') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`nombre_sala`,`edificio`),
  KEY `edificio` (`edificio`),
  CONSTRAINT `sala_ibfk_1` FOREIGN KEY (`edificio`) REFERENCES `edificio` (`nombre_edificio`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sala`
--

LOCK TABLES `sala` WRITE;
/*!40000 ALTER TABLE `sala` DISABLE KEYS */;
INSERT INTO `sala` VALUES ('Aula Magna','Central',100,'posgrado'),('Lab 101','Central',25,'libre'),('Sala Docente','Campus Este',10,'docente');
/*!40000 ALTER TABLE `sala` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sancion_participante`
--

DROP TABLE IF EXISTS `sancion_participante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sancion_participante` (
  `ci_participante` int NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  PRIMARY KEY (`ci_participante`,`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `sancion_participante_ibfk_1` FOREIGN KEY (`ci_participante`) REFERENCES `participante_programa_academico` (`ci_participante`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sancion_participante`
--

LOCK TABLES `sancion_participante` WRITE;
/*!40000 ALTER TABLE `sancion_participante` DISABLE KEYS */;
INSERT INTO `sancion_participante` VALUES (11111111,'2025-08-10','2025-10-09'),(11111111,'2025-11-01','2025-12-31'),(22222222,'2025-09-01','2025-10-31'),(33333333,'2025-11-01','2025-12-31'),(66666666,'2025-11-11','2026-01-10'),(66666666,'2025-11-12','2026-01-11'),(66666666,'2025-11-28','2026-01-27');
/*!40000 ALTER TABLE `sancion_participante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turno`
--

DROP TABLE IF EXISTS `turno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turno` (
  `id_turno` int NOT NULL AUTO_INCREMENT,
  `hora_inicio` datetime DEFAULT CURRENT_TIMESTAMP,
  `hora_fin` datetime NOT NULL,
  PRIMARY KEY (`id_turno`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turno`
--

LOCK TABLES `turno` WRITE;
/*!40000 ALTER TABLE `turno` DISABLE KEYS */;
/*!40000 ALTER TABLE `turno` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-13 13:48:24
